#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
}

h2 {
    text-align: center;
}

li.selected {
    background: green;
    color: white;
}

.courier-list-scroll {
    height: 100px;
    overflow-y: auto;
    border: solid silver 2px;
    user-select: none;
}

ul.couriers {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    padding-left: 1px;
}

.couriers label {
    display: inline-block;
    width: 100%;
}

.couriers-row {
    border: solid black 1px;
    border-radius: 3px;
    margin: 3px;
}

.couriers-title {
    font-weight: bold;
}

.couriers-deets {
    float: right;
    margin-right: 3px;
}

.courier label {
    margin: 30px;
}

.fleet-buttons {
    padding: 30px;
}

.fleet-addremove {
    float: left;
    padding-left: 10px;
}

.fleet-updown {
    float: right;
    padding-right: 10px;
}

.hidden {
    width: 0px;
    height: 0px;
}

button {
    background-color: green;
    color: white;
}
