#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
    max-width: 700px;
}

h2 {
    text-align: center;
}

li.selected {
    background: green;
    color: white;
}

.courier-list-scroll {
    position: relative;
    height: 400px;
    overflow-y: auto;
    border: solid silver 2px;
    user-select: none;
    clear: both;
    margin-top: 5px;
}

.courier-title {
    color: green;
}

ul.couriers {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    padding-left: 1px;
}

.couriers label {
    display: inline-block;
    width: 100%;
}

.couriers-row {
    border: solid black 1px;
    border-radius: 3px;
    margin: 3px;
}

.couriers-title {
    font-weight: bold;
}

.couriers-deets {
    float: right;
    margin-right: 3px;
}

.courier {
    border-radius: 30px;
    clear: both;
}

.courier label {
    margin: 30px;
}

.link-like-button {
    border: none;
    background: none;
    margin: 30px;
}

.link-like-button:enabled {
    color: blue;
}

.courier .navigation {
    float: right;
}

.actions {
    float: right;
}


.destructive-button:enabled {
    color: brown;
}

.fleet-buttons {
    padding: 10px;
    float: right;
}

.submit-button:enabled {
    background: #80aaff;
    color: white;
}

.fleet-addremove {
    float: left;
    padding-left: 10px;
}

.fleet-updown {
    padding-left: 10px;
}

.hidden {
    position: absolute;
    opacity: 0;
}

button {
    background-color: green;
    color: white;
}
